body {
    background-color: #EEEEEE;
}

#site-header {

}

#game-content {
    display: flex;
    flex: 1;
}

.view-window {
    flex-grow: 1;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    height: 100%;
    justify-items: center;
}

#settings-window {

}

#game-window {
    display: flex;
}

#game-clock {
    display: flex;
    flex: 1;
}

#clock-text {
    flex: 2;
}

#time-remaining {
    flex: 1;
    text-align: center;
}

#game-input-output {
    flex: 2;
    width: 100%;
    justify-items: center
}

#display-output-group {
    display: flex;
    flex: 1;
    width: 75%;
}

#input-button-group {

}

.outputDisp {
    flex-grow: 1;
    background-color: #111111;
    color: red;
    border-radius: 2px;
    text-align: center;
}

.inputBtn {

}

#input1 {

}

#input2 {
    
}

#input3 {
    
}

#clearBtn {

}